<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- Configure Target class -->
	<bean id="shopping" class="com.nt.target.ShoppingStore" />
	<!-- Configure Aspect/Advice -->
	<bean id="discountAdvice" class="com.nt.aspect.DiscountCuponGeneratorAdvice" />
	<!-- Configure ProxyFactory Bean to get PRoxy obj -->
	<bean id="pfb" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="shopping" />
		<property name="interceptorNames">
			<list>
				<value>discountAdvice</value>
			</list>
		</property>
	</bean>
</beans>