<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.wst.server.ui.launchConfigurationType">
<stringAttribute key="client-id" value="org.eclipse.wst.server.ui.web"/>
<stringAttribute key="launchable-adapter-id" value="org.eclipse.jst.server.tomcat.web"/>
<stringAttribute key="module-artifact" value="org.eclipse.jst.jee.server:JAX-WS_Metro_HelloService_ContractLast//"/>
<stringAttribute key="module-artifact-class" value="org.eclipse.wst.server.core.util.WebResource"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JAX-WS_Metro_HelloService_ContractLast"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="${xrebel_args}"/>
<stringAttribute key="server-id" value="Tomcat v9.0 Server at localhost"/>
<booleanAttribute key="xrebel.isEnabled" value="true"/>
</launchConfiguration>
