<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

 <!-- static factory method bean instantation   
 <bean id="serviceLocator"  class="com.nt.serviceLocator.ScoreCompServiceLocator" factory-method="getService"/>

  <bean id="scoreService"  class="com.nt.service.FindScoreServiceImpl">
     <property name="extenalComp" ref="serviceLocator"/>
  </bean> -->
  
  <!-- instance factory method bean instantiation -->
  <bean id="serviceLocator"  class="com.nt.serviceLocator.ScoreCompServiceLocator"/>
  
  <bean id="extenalService"  factory-bean="serviceLocator"  factory-method="getService"/>
  
    <bean id="scoreService"  class="com.nt.service.FindScoreServiceImpl">
     <property name="extenalComp" ref="extenalService"/>
  </bean>
  
</beans>